<h1>Felhasználók kezelése</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Név</th>
      <th>Email</th>
      <th>Szerepkör</th>
      <th>Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <a href="/admin/users/edit/<%= user.id %>" class="btn btn-sm btn-warning">Szerkesztés</a>
          <a href="/admin/users/delete/<%= user.id %>" class="btn btn-sm btn-danger">Törlés</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
